// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card{
    width: 512px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    border-radius: 5px;
    margin: 20px;
}
.image{
    border-radius: 5px;
    height: 350px;
    width: 512px;
}
.title{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
}
.description, .price{
    margin-left: 20px;
}

.price{
    float: left;
}

.str_button{
    float: left;
}

.btn_addCart{
    height: 35px;
    width: 100px;
    margin-left: 250px;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(90deg, rgb(7, 190, 199) 0%, rgb(26, 190, 245) 100%);
    color: #fff;
    border: #fff;
}
.btn_Detail{
    height: 335px;
    width: 100px;
    margin-left: 400px;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(90deg, rgb(7, 190, 199) 0%, rgb(26, 190, 245) 100%);
    color: #fff;
    border: #fff;
}

#id_product{
    list-style: none;
    float: left;
}
#li_nav{
    list-style: none;
    text-align: center;
    margin-left: 100px;
    float: left;
}
#li_cate{
    list-style: none;
}

.login{
    position: relative;
}

.col{
    float: left;
    padding: 15px;
}
.col.right{
    width: 15%;
}
.col.left{
    width: 85%;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
#nav-demo {
    list-style: none;
    margin:0;
    padding:0;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.3);
            box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    padding: 20px 0;
    height: 80px;  
    width: 100%;
    position: fixed; 
}
#cate-demo{
    margin-top: 100px;
    position: fixed;
}
.text-container{
    font-size: 15px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
