<div class="col right">
<ul id="cate-demo">
    <li id="li_cate">
        <a href="">
            <div class="text-container">Flowers</div>
        </a>
    </li>
    <li id="li_cate">
        <a href="">
            <div class="text-container">Fruits</div>
        </a>
    </li>
    <li id="li_cate">
        <a href="">
            <div class="text-container">Vergetable</div>
        </a>
    </li>
    <li id="li_cate">
        <a href="">
            <div class="text-container">Fruit Water</div>
        </a>
    </li>
</ul>
</div>